In [7]:
import pandas as pd

In [17]:
slide = pd.read_csv('DataParts/SLIDE_FULL.csv')
noslide = pd.read_csv('DataParts/NOSLIDE_FULL.csv')

In [18]:
slide.describe()

,Unnamed: 0,Long,Lat,Northeast,North,Center,West,SouthEast,Northwest,East,...,mintempi,nlcd_2011_,nlcd_2001_,nlcd_2006_,Root_Moist,Precip_Mon,Soil_Moist,Soil_Moist_Depth,Soil_Temp,Vegetation
count,1402.000000,1402.000000,1402.000000,13.000000,72.000000,23.000000,220.000000,0,821.000000,1.00000,...,1395.000000,1402.000000,1402.000000,1402.000000,1290.000000,1290.000000,1290.000000,1290.000000,1290.000000,1290.000000
mean,700.500000,-123.114504,44.929804,23.053545,26.354949,24.027600,26.530555,NaN,22.382134,11.67803,...,46.123297,35.209700,35.036377,35.004993,514.009092,125.759785,26.417347,26.980767,283.226082,0.742928
std,404.866851,1.078540,1.131836,7.333283,11.155810,10.232036,11.382300,NaN,8.872022,NaN,...,7.779917,14.821815,14.726223,14.646366,154.001732,151.886232,4.973643,5.180761,3.825501,0.223213
min,0.000000,-124.474159,42.010690,12.005680,4.006830,10.305210,0.000000,NaN,0.000000,11.67803,...,21.000000,11.000000,11.000000,11.000000,15.076901,0.140800,8.483700,8.480000,271.710020,0.063000
25%,350.250000,-123.923477,44.302371,15.207850,16.491710,16.366615,17.547632,NaN,16.163360,11.67803,...,41.000000,21.000000,21.000000,21.000000,443.278800,13.388800,24.440600,24.970000,280.340000,0.585000
50%,700.500000,-123.318634,45.496363,24.902430,28.061100,22.381420,25.787310,NaN,21.464720,11.67803,...,46.000000,42.000000,42.000000,42.000000,533.992200,63.552000,25.765700,26.920000,284.610020,0.830000
75%,1050.750000,-122.683375,45.780009,29.655650,33.474563,26.207835,33.702483,NaN,28.359700,11.67803,...,50.000000,43.000000,43.000000,43.000000,622.841500,174.496000,30.394299,30.690000,285.430000,0.939000
max,1401.000000,-117.154209,46.193292,32.336860,65.167010,47.519120,63.782370,NaN,59.579200,11.67803,...,68.000000,95.000000,95.000000,95.000000,757.980470,693.401600,36.707200,39.070000,296.320000,0.990000

In [19]:
noslide.describe()

,Unnamed: 0,Long,Lat,Northeast,North,Center,West,SouthEast,Northwest,East,...,mintempi,nlcd_2011_,nlcd_2001_,nlcd_2006_,Root_Moist,Precip_Mon,Soil_Moist,Soil_Moist_Depth,Soil_Temp,Vegetation
count,1179.000000,1179.000000,1179.000000,39.000000,90.000000,46.000000,170.000000,0,618.000000,0,...,1162.000000,1179.000000,1179.000000,1179.000000,1159.000000,1159.000000,1159.000000,1159.000000,1159.000000,1159.000000
mean,589.000000,-122.654678,44.810703,15.803118,15.894993,20.527991,23.518534,NaN,21.361848,NaN,...,45.386403,47.904156,47.369805,47.482612,462.769383,83.813775,24.877763,25.678378,283.667616,0.696013
std,340.492291,1.357900,1.175684,9.626771,8.403079,9.064027,9.999380,NaN,11.586796,NaN,...,8.653712,12.346242,12.440376,12.365212,174.642970,117.064960,5.461715,5.916281,4.758539,0.270734
min,0.000000,-124.093577,42.112966,0.000000,0.000000,0.000000,2.617320,NaN,0.000000,NaN,...,21.000000,11.000000,11.000000,11.000000,15.076901,0.742400,8.078600,9.670000,271.710020,0.054000
25%,294.500000,-123.503581,43.995035,7.460535,10.160422,13.967060,15.438732,NaN,11.694895,NaN,...,39.000000,42.000000,42.000000,42.000000,408.412800,7.436800,22.960699,23.779999,280.340000,0.491000
50%,589.000000,-123.175727,45.273478,16.943140,16.816970,22.165310,22.490820,NaN,20.531630,NaN,...,46.000000,43.000000,42.000000,42.000000,525.888060,29.171200,25.600900,25.630000,284.850040,0.797000
75%,883.500000,-122.461521,45.704172,22.223345,20.880308,27.482290,32.011547,NaN,30.596480,NaN,...,51.000000,52.000000,52.000000,52.000000,562.289275,116.236798,28.346498,29.600000,286.250030,0.939000
max,1178.000000,-118.219724,46.187334,35.561600,42.030760,38.913330,45.693080,NaN,74.572320,NaN,...,68.000000,82.000000,82.000000,82.000000,733.039860,693.401600,34.850700,39.070000,294.410000,0.990000

In [22]:
frames = [slide,noslide]
landslides = pd.concat(frames,ignore_index=True)

In [47]:
landslides.fillna(0, inplace = True)

In [48]:
landslides["Slope"] = landslides["Northeast"] + landslides["North"] + landslides['Center'] + landslides['West']  + landslides['Northwest'] + landslides['SouthEast'] + landslides['East'] + landslides['South'] + landslides['SouthWest']
list(landslides)

['Unnamed: 0',
 'UNIQUE_ID',
 'Long',
 'Lat',
 'DATE',
 'Northeast',
 'North',
 'Center',
 'West',
 'SouthEast',
 'Northwest',
 'East',
 'South',
 'SouthWest',
 'maxdewpti',
 'maxhumidity',
 'maxpressurei',
 'maxtempi',
 'maxwspdi',
 'mindewpti',
 'minhumidity',
 'minpressurei',
 'mintempi',
 'precipi',
 'MAP_UNIT_L',
 'MAP_UNIT_N',
 'GEO_GENL_U',
 'AGE_NAME',
 'TERRANE_GR',
 'FORMATION',
 'G_ROCK_TYP',
 'GN_LITH_TY',
 'nlcd_2011_',
 'nlcd_2001_',
 'nlcd_2006_',
 'Root_Moist',
 'Precip_Mon',
 'Soil_Moist',
 'Soil_Moist_Depth',
 'Soil_Temp',
 'Vegetation',
 'Slope',
 'COVERAGE',
 'COVERAGE_1',
 'COVERAGE_2',
 'COVERAGE_3']

In [49]:
landslides['DATE'] = pd.to_datetime(landslides['DATE'])

In [50]:
landslides['COVERAGE_1'] = landslides['nlcd_2011_'].where(pd.to_datetime(landslides['DATE']).dt.year >= 2011)
landslides['COVERAGE_2'] = landslides['nlcd_2011_'].where((pd.to_datetime(landslides['DATE']).dt.year >= 2006) & (pd.to_datetime(landslides['DATE']).dt.year < 2011))
landslides['COVERAGE_3'] = landslides['nlcd_2011_'].where(pd.to_datetime(landslides['DATE']).dt.year < 2006)

In [51]:
landslides.fillna(0, inplace = True)

In [52]:
landslides['COVERAGE'] = landslides['COVERAGE_1'] + landslides['COVERAGE_2'] + landslides['COVERAGE_3']

In [53]:
landslides.head()

,Unnamed: 0,UNIQUE_ID,Long,Lat,DATE,Northeast,North,Center,West,SouthEast,...,Precip_Mon,Soil_Moist,Soil_Moist_Depth,Soil_Temp,Vegetation,Slope,COVERAGE,COVERAGE_1,COVERAGE_2,COVERAGE_3
0,0,LS_1,-120.547582,45.717667,2007-06-20,0,65.16701,0,0,0,...,11.3664,21.474900,21.470001,287.58000,0.338,65.16701,52,0,52,0
1,1,LS_3,-120.406054,45.691143,2007-06-20,0,43.18400,0,0,0,...,13.2992,19.630900,19.630001,288.81998,0.338,43.18400,11,0,11,0
2,2,LS_11,-122.142782,45.573045,2008-08-13,0,0.00000,0,0,0,...,70.7840,17.742199,17.830000,286.53003,0.875,22.57697,52,0,52,0
3,3,LS_12,-122.096556,45.581016,2008-08-13,0,0.00000,0,0,0,...,70.7840,17.742199,17.830000,286.53003,0.875,30.41615,42,0,42,0
4,4,LS_14,-121.984481,45.616955,2008-08-12,0,0.00000,0,0,0,...,60.5696,20.366200,20.400000,287.53003,0.884,43.85429,42,0,42,0

In [54]:
landslides.describe()

,Unnamed: 0,Long,Lat,Northeast,North,Center,West,SouthEast,Northwest,East,...,Precip_Mon,Soil_Moist,Soil_Moist_Depth,Soil_Temp,Vegetation,Slope,COVERAGE,COVERAGE_1,COVERAGE_2,COVERAGE_3
count,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581,2581.000000,2581.000000,...,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581.000000,2581,2581.000000,2581.000000
mean,649.566835,-122.904455,44.875399,0.354908,1.289464,0.579978,3.810489,0,12.234543,0.004525,...,100.492169,24.374934,25.016052,268.939331,0.683865,22.787201,41.008524,0,29.894614,11.113909
std,380.830084,1.235338,1.153375,2.818180,5.691611,3.827428,9.974333,0,13.270352,0.229866,...,136.519567,7.638388,7.953933,62.589922,0.289014,10.420213,15.129260,0,21.896084,20.352042
min,0.000000,-124.474159,42.010690,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0,0.000000,0.000000
25%,322.000000,-123.791905,44.240214,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,...,8.243199,22.726300,23.680000,279.280000,0.495000,15.268850,22.000000,0,0.000000,0.000000
50%,645.000000,-123.244612,45.341662,0.000000,0.000000,0.000000,0.000000,0,9.665510,0.000000,...,38.963200,25.600900,25.630000,284.580000,0.785000,22.116960,42.000000,0,42.000000,0.000000
75%,967.000000,-122.556667,45.755839,0.000000,0.000000,0.000000,0.000000,0,22.388410,0.000000,...,145.318390,29.706099,30.450000,285.940030,0.939000,29.726160,52.000000,0,43.000000,21.000000
max,1401.000000,-117.154209,46.193292,35.561600,65.167010,47.519120,63.782370,0,74.572320,11.678030,...,693.401600,36.707200,39.070000,296.320000,0.990000,74.572320,95.000000,0,95.000000,95.000000

In [55]:
landslides.to_csv('landslide_database.csv')