In [2]:
import pandas as pd

In [5]:
slope_data = pd.read_csv('LandslideSlopeData.csv')

In [6]:
slope_data.head()

,X,Y,Northeast,North,Center,West_SLOPE,Northwest,SouthEast_,East,South,SouthWest
0,1285467.394029,1454567.758530,NaN,2.61776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1300566.281168,1446574.309383,NaN,2.77631,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1316943.110236,1435213.604987,NaN,14.03704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1336731.661089,1437168.634186,NaN,2.61776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1342539.546916,1437518.348097,NaN,29.72073,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
slope_data.fillna(0, inplace = True)

In [14]:
slope_data["Slope"] = slope_data["Northeast"] + slope_data["North"] + slope_data['Center'] + slope_data['West_SLOPE']  + slope_data['Northwest'] + slope_data['SouthEast_'] + slope_data['East'] + slope_data['South'] + slope_data['SouthWest']

In [15]:
slope_data.head()

,X,Y,Northeast,North,Center,West_SLOPE,Northwest,SouthEast_,East,South,SouthWest,Slope
0,1285467.394029,1454567.758530,0,2.61776,0,0,0,0,0,0,0,2.61776
1,1300566.281168,1446574.309383,0,2.77631,0,0,0,0,0,0,0,2.77631
2,1316943.110236,1435213.604987,0,14.03704,0,0,0,0,0,0,0,14.03704
3,1336731.661089,1437168.634186,0,2.61776,0,0,0,0,0,0,0,2.61776
4,1342539.546916,1437518.348097,0,29.72073,0,0,0,0,0,0,0,29.72073

In [18]:
LandslideSlopes = slope_data[['X','Y','Slope']]

In [19]:
LandslideSlopes.to_csv('SlopeData.csv')