In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [14]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None,encoding='utf-8')
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [7]:
titles.describe()

                year
count  216536.000000
mean     1984.480987
std        29.333278
min      1894.000000
25%      1965.000000
50%      1994.000000
75%      2010.000000
max      2024.000000

In [16]:
len(titles)

216536

### What are the earliest two films listed in the titles dataframe?

In [17]:
titles.sort(['year'],ascending=True).head(2)

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                                                    title  year
165628                                         Miss Jerry  1894
85967   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [21]:
hamlet_df = titles.loc[titles['title'] == 'Hamlet']

In [22]:
len(hamlet_df)

19

### How many movies are titled "North by Northwest"?

In [23]:
nbnw_df = titles.loc[titles['title'] == 'North by Northwest']
len(nbnw_df)

1

In [26]:
titles[titles.title == 'Hamlet'].sort(['year'])

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

         title  year
43621   Hamlet  1910
195542  Hamlet  1911
155033  Hamlet  1913
91989   Hamlet  1921
5572    Hamlet  1948
68452   Hamlet  1954
170470  Hamlet  1964
114512  Hamlet  1969
206385  Hamlet  1973
86001   Hamlet  1976
88032   Hamlet  1987
42348   Hamlet  1990
187517  Hamlet  1996
88225   Hamlet  2000
164076  Hamlet  2009
193332  Hamlet  2011
208347  Hamlet  2014
37483   Hamlet  2015
26218   Hamlet  2016

### When was the first movie titled "Hamlet" made?

In [24]:
hamlet_df.sort(['year']).head(1)

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

        title  year
43621  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
titles[titles.title == 'Treasure Island'].sort('year')

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                  title  year
191892  Treasure Island  1918
47866   Treasure Island  1920
193429  Treasure Island  1934
90437   Treasure Island  1950
213589  Treasure Island  1972
103921  Treasure Island  1973
191299  Treasure Island  1985
167148  Treasure Island  1999

### How many movies were made in the year 1950?

In [29]:
len(titles[titles.year == 1950 ])

1038

### How many movies were made in the year 1960?

In [30]:
len(titles[titles.year == 1960 ])

1473

### How many movies were made from 1950 through 1959?

In [36]:
len(titles[(titles.year > 1949) & (titles.year < 1960)])

12175

### In what years has a movie titled "Batman" been released?

In [31]:
titles[titles.title == "Batman"].year

52270    1989
69682    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [39]:
len(cast[cast.title == 'Inception'])

75

In [45]:
import numpy as np

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [49]:
len(cast[cast.title == 'Inception'].dropna())

51

In [50]:
75-51

24

### But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [51]:
cast[cast.title == 'North by Northwest'].dropna().sort('n')

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
789998,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3154749,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1320849,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2838948,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
322299,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2745218,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1537502,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1155311,North by Northwest,1959,Martin Landau,actor,Leonard,8
2215991,North by Northwest,1959,Adam Williams,actor,Valerian,9
1642042,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
603354,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2078797,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
420250,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1368049,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
185152,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1255048,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [52]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].dropna().sort('n')

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
1546535,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
294969,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
337971,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1328287,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2460569,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1313271,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [53]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].dropna().sort('n')

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year           name   type    character  n
294970   Sleuth  2007  Michael Caine  actor       Andrew  1
1172161  Sleuth  2007       Jude Law  actor         Milo  2
1637144  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3

### How many roles were credited in the silent 1921 version of Hamlet?

In [54]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)].dropna())

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [55]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)].dropna())

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [56]:
len(cast[(cast.title == 'Hamlet')].dropna())

249

### How many people have played an "Ophelia"?

In [58]:
len(cast[cast.character == 'Ophelia'])

99

In [57]:
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many people have played a role called "The Dude"?

In [59]:
len(cast[cast.character == 'The Dude'])

17

### How many people have played a role called "The Stranger"?

In [60]:
len(cast[cast.character == 'The Strangler'])

7

### How many roles has Sidney Poitier played throughout his career?

In [61]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [63]:
len(cast[cast.name == 'Judi Dench'])

52

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [64]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2) & (cast.year > 1939) & (cast.year < 1950)]

                   title  year        name   type    character  n
789995  My Favorite Wife  1940  Cary Grant  actor         Nick  2
790005    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [65]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year > 1939) & (cast.year < 1950)].sort('year')

-c:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
790020,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
789977,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
790022,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
790010,Suspicion,1941,Cary Grant,actor,Johnnie,1
790024,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
790001,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
789968,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
789993,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
789994,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
790002,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
789960,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
789997,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
789996,Night and Day,1946,Cary Grant,actor,Cole Porter,1
789999,Notorious,1946,Cary Grant,actor,Devlin,1
790016,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
790017,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
789992,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
789972,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
789981,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [66]:
len(cast[(cast.type == 'actor') & (cast.year > 1939) & (cast.year < 1950)])

158077

### How many roles were avilable for actresses in the 1950s?

In [67]:
len(cast[(cast.type == 'actress') & (cast.year > 1939) & (cast.year < 1950)])

50110

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [68]:
len(cast[(cast.n == 1) & (cast.year < 1981)])

61979

### How many non-leading roles were available through from the beginning of film history through 1980?

In [69]:
len(cast[(cast.n != 1) & (cast.year < 1981)])

1061496

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?