In [2]:
import pandas as pd

In [7]:
landslides = pd.read_csv('landslides_weather.csv')
landslides

,Unnamed: 0,Unnamed: 0.1,UNIQUE_ID,Long,Lat,DATE,MOVE_CLASS,Annual_Cos,Repair_Cos,coolingdegreedays,...,since1sepcoolingdegreedaysnormal,since1sepheatingdegreedays,since1sepheatingdegreedaysnormal,snow,snowdepthi,snowdepthm,snowfalli,snowfallm,thunder,tornado
0,0,1,LS_1,-120.546074,45.718373,2007-06-20,Debris Flow,237.110001,98678.60156,8,...,NaN,NaN,NaN,0,NaN,NaN,0,0,0,0
1,1,3,LS_3,-120.404544,45.692551,2007-06-20,Debris Flow,246.259994,98678.60156,8,...,NaN,NaN,NaN,0,NaN,NaN,0,0,0,0
2,2,11,LS_11,-122.143866,45.575849,2008-08-13,Fill Failure,0.000000,0.00000,7,...,NaN,NaN,NaN,0,0,0,0,0,0,0
3,3,12,LS_12,-122.098129,45.583461,2008-08-13,Fill Failure,0.000000,0.00000,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,0,0,0
4,4,14,LS_14,-121.985557,45.619760,2008-08-12,Fill Failure,0.000000,0.00000,3,...,NaN,NaN,NaN,0,NaN,NaN,0,0,0,0

In [6]:
geo_info = pd.read_csv('GeologicDataLandlsides.csv')

In [12]:
landslides_geo = landslides.merge(geo_info,on=u'UNIQUE_ID')