In [2]:
import pandas as pd
%matplotlib inline
import matplotlib as plt

Load Landslide DataFrame

In [3]:
landslides = pd.read_csv('landslides_lat_long.csv')
landslides.head()

,UNIQUE_ID,Long,Lat,DATE,MOVE_CLASS,Annual_Cos,Repair_Cos
0,LS_0,-120.605220,45.740253,6/20/07,Rockfall,47.680000,1285220.00000
1,LS_1,-120.546074,45.718373,6/20/07,Debris Flow,237.110001,98678.60156
2,LS_2,-120.481975,45.687228,3/29/07,Rockfall,47.680000,13793600.00000
3,LS_3,-120.404544,45.692551,6/20/07,Debris Flow,246.259994,98678.60156
4,LS_4,-120.381816,45.693490,6/21/07,Rockfall,47.680000,2592600.00000

Find Types of Landslides

In [4]:
landslides['MOVE_CLASS'].value_counts()

                                                6212
Earth Flow                                      1064
Rockfall                                        1051
Fill Failure                                     951
Flow                                             904
Slide-Translational                              577
Landslide                                        409
Debris Flow                                      255
Slide-Rotational/Flow                            146
Debris Slide                                     143
Slide-Rotational                                 137
Slide                                             79
Fall                                              57
Slide-Translational/Flow                          29
Earth Slide-Rotational                            16
Fall/Topple                                       14
Earth Slide-Translational                          5
Complex-Earth Slide-Rotational+Earth Flow          5
Rock Fall                                          4
Fall/Flow                                          3
Fall/Translational Slide                           2
Complex Earth Slide-Rotational & Earth Flow        2
Rock Slide-Rotational                              1
Complex                                            1
Rock Slide                                         1
Earth/Rock slide                                   1
Debris/Rock Fall                                   1
Complex Earth Slide-Rotational Earth Flow          1
Complex Earth Slide -Rotational & Earth Flow       1
Flow/Fall                                          1
Rotational Earth Slide                             1
Name: MOVE_CLASS, dtype: int64

Filter out Rock Falls from the movement classification

In [5]:
landslides = landslides[landslides['MOVE_CLASS'] != ' ']
landslides = landslides[landslides['MOVE_CLASS'] != 'Rockfall']
landslides = landslides[landslides['MOVE_CLASS'] != 'Fall']
landslides = landslides[landslides['MOVE_CLASS'] != 'Fall/Topple']
landslides = landslides[landslides['MOVE_CLASS'] != 'Rock Fall']
landslides['MOVE_CLASS'].value_counts()

Earth Flow                                      1064
Fill Failure                                     951
Flow                                             904
Slide-Translational                              577
Landslide                                        409
Debris Flow                                      255
Slide-Rotational/Flow                            146
Debris Slide                                     143
Slide-Rotational                                 137
Slide                                             79
Slide-Translational/Flow                          29
Earth Slide-Rotational                            16
Earth Slide-Translational                          5
Complex-Earth Slide-Rotational+Earth Flow          5
Fall/Flow                                          3
Complex Earth Slide-Rotational & Earth Flow        2
Fall/Translational Slide                           2
Complex                                            1
Complex Earth Slide -Rotational & Earth Flow       1
Debris/Rock Fall                                   1
Flow/Fall                                          1
Complex Earth Slide-Rotational Earth Flow          1
Rotational Earth Slide                             1
Rock Slide-Rotational                              1
Earth/Rock slide                                   1
Rock Slide                                         1
Name: MOVE_CLASS, dtype: int64

In [6]:
import datetime
from datetime import datetime

In [7]:
landslides['DATE'] = pd.to_datetime(landslides['DATE'],errors='coerce')
landslides = landslides[landslides['DATE'] > '2000-01-01']

In [8]:
landslides = landslides[landslides['DATE'] != 'NaT']
landslides.describe()

              Long          Lat     Annual_Cos       Repair_Cos
count  1423.000000  1423.000000    1423.000000      1423.000000
mean   -123.127260    44.926167     929.211989    145414.550209
std       1.075993     1.135333    4912.927931    649157.241449
min    -124.474846    41.999096       0.000000         0.000000
25%    -123.924087    44.308106       0.000000         0.000000
50%    -123.336386    45.480754       0.000000         0.000000
75%    -122.689634    45.776098     359.919998         0.000000
max    -117.155376    46.194435  100000.000000  12935500.000000

In [9]:
landslides.to_csv('landslides_list.csv')

ImportError: No module named gdal