In [10]:
import pandas as pd
from pandas import DataFrame
import datetime
from datetime import datetime
import time
import urllib
from urllib import urlopen
import json

In [12]:

landslides = pd.read_csv('landslides_list.csv')

landslides['DATE'] = pd.to_datetime(landslides['DATE'])

In [13]:
landslides.head()

,Unnamed: 0,UNIQUE_ID,Long,Lat,DATE,MOVE_CLASS,Annual_Cos,Repair_Cos
0,1,LS_1,-120.546074,45.718373,2007-06-20,Debris Flow,237.110001,98678.60156
1,3,LS_3,-120.404544,45.692551,2007-06-20,Debris Flow,246.259994,98678.60156
2,11,LS_11,-122.143866,45.575849,2008-08-13,Fill Failure,0.000000,0.00000
3,12,LS_12,-122.098129,45.583461,2008-08-13,Fill Failure,0.000000,0.00000
4,14,LS_14,-121.985557,45.619760,2008-08-12,Fill Failure,0.000000,0.00000

In [22]:
day = landslides['DATE'][1]
day

Timestamp('2007-06-20 00:00:00')

In [23]:
    if day.month < 10 and day.day < 10:
        date = str(day.year)+'0'+str(day.month)+'0'+str(day.day)
    elif day.month < 10 and day.day >= 10:
        date = str(day.year)+'0'+str(day.month)+str(day.day)
    elif day.month >= 10 and day.day < 10:
        date = str(day.year)+str(day.month)+'0'+str(day.day)
    else:
        date = str(day.year)+str(day.month)+str(day.day)
date

'20070620'

In [24]:
lat = 35

In [25]:
lon = -121

In [27]:
f = urlopen('http://api.wunderground.com/api/89a029dbd7dd2b59/history_{2}/geolookup/q/{0},{1}.json'.format(str(lat),str(lon),str(date)))
json_string = f.read()
parsed_json = json.loads(json_string)

In [32]:
date_sum = pd.io.json.json_normalize(parsed_json['history']['dailysummary'])

In [33]:
list(date_sum)

[u'coolingdegreedays',
 u'coolingdegreedaysnormal',
 'date.hour',
 'date.mday',
 'date.min',
 'date.mon',
 'date.pretty',
 'date.tzname',
 'date.year',
 u'fog',
 u'gdegreedays',
 u'hail',
 u'heatingdegreedays',
 u'heatingdegreedaysnormal',
 u'humidity',
 u'maxdewpti',
 u'maxdewptm',
 u'maxhumidity',
 u'maxpressurei',
 u'maxpressurem',
 u'maxtempi',
 u'maxtempm',
 u'maxvisi',
 u'maxvism',
 u'maxwspdi',
 u'maxwspdm',
 u'meandewpti',
 u'meandewptm',
 u'meanpressurei',
 u'meanpressurem',
 u'meantempi',
 u'meantempm',
 u'meanvisi',
 u'meanvism',
 u'meanwdird',
 u'meanwdire',
 u'meanwindspdi',
 u'meanwindspdm',
 u'mindewpti',
 u'mindewptm',
 u'minhumidity',
 u'minpressurei',
 u'minpressurem',
 u'mintempi',
 u'mintempm',
 u'minvisi',
 u'minvism',
 u'minwspdi',
 u'minwspdm',
 u'monthtodatecoolingdegreedays',
 u'monthtodatecoolingdegreedaysnormal',
 u'monthtodateheatingdegreedays',
 u'monthtodateheatingdegreedaysnormal',
 u'monthtodatesnowfalli',
 u'monthtodatesnowfallm',
 u'precipi',
 u'precipm',
 u'precipsource',
 u'rain',
 u'since1jancoolingdegreedays',
 u'since1jancoolingdegreedaysnormal',
 u'since1julheatingdegreedays',
 u'since1julheatingdegreedaysnormal',
 u'since1julsnowfalli',
 u'since1julsnowfallm',
 u'since1sepcoolingdegreedays',
 u'since1sepcoolingdegreedaysnormal',
 u'since1sepheatingdegreedays',
 u'since1sepheatingdegreedaysnormal',
 u'snow',
 u'snowdepthi',
 u'snowdepthm',
 u'snowfalli',
 u'snowfallm',
 u'thunder',
 u'tornado']

In [34]:
date_sum.head()

,coolingdegreedays,coolingdegreedaysnormal,date.hour,date.mday,date.min,date.mon,date.pretty,date.tzname,date.year,fog,...,since1sepcoolingdegreedaysnormal,since1sepheatingdegreedays,since1sepheatingdegreedaysnormal,snow,snowdepthi,snowdepthm,snowfalli,snowfallm,thunder,tornado
0,0,,12,20,00,06,"12:00 PM PDT on June 20, 2007",America/Los_Angeles,2007,0,...,,,,0,,,0.00,0.00,0,0