
### Examining racial discrimination in the US job market

#### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

#### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes.

#### Exercise
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Discuss statistical significance.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [4]:
# number of callbacks for balck-sounding names
sum(data[data.race=='b'].call)

157.0

In [5]:
data.describe()

,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,...,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind
count,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,...,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000
mean,3.618480,3.661396,7.842916,0.052772,0.411499,0.097125,0.448049,215.637782,3.481520,0.559548,...,0.106776,0.437166,0.072690,0.082957,0.030390,0.085010,0.213963,0.267762,0.154825,0.165092
std,0.714997,1.219126,5.044612,0.223601,0.492156,0.296159,0.497345,148.127551,2.038036,0.496492,...,0.308866,0.496083,0.259649,0.275854,0.171677,0.278932,0.410141,0.442847,0.361773,0.371308
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,267.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,9.000000,0.000000,1.000000,0.000000,1.000000,313.000000,6.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,4.000000,7.000000,44.000000,1.000000,1.000000,1.000000,1.000000,903.000000,6.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
data1 = data[['race','call']]
data1.head()

  race  call
0    w     0
1    w     0
2    b     0
3    b     0
4    w     0

What test is appropriate for this problem? Does CLT apply?

In [7]:
data1_bl = data1[data.race == 'b']
data1_wh = data1[data.race == 'w']

In [8]:
#counting the number of calls by call type 0,1 where 0: no call back and 1:call back
print"The number of blacks who didn't get a call:", len(data1_bl[data1_bl['call'] == 0])
print"The number of blacks who got a call:", len(data1_bl[data1_bl['call'] == 1])
print"The number of whites who didn't get a call:", len(data1_wh[data1_wh['call'] == 0])
print"The number of whites who got a call:", len(data1_wh[data1_wh['call'] == 1])

The number of blacks who didn't get a call: 2278
The number of blacks who got a call: 157
The number of whites who didn't get a call: 2200
The number of whites who got a call: 235

In [9]:
#calculating the proportion
p_b_call = len(b_call.call)/(len(b_call.call)+ len(b_nocall.call))
p_b_nocall = 1 - p_b_call
n_b = len(b_call.call)+ len(b_nocall.call)
print("The proportion of blacks who got an interview call:", round(p_b_call,2))
print("The proportion of blacks who didnot get an interview call:",round(p_b_nocall,2) )
print("The number of blacks:",n_b)

p_w_call = len(w_call.call)/(len(w_call.call)+ len(w_nocall.call))
p_w_nocall = 1 - p_w_call
n_w = len(w_call.call)+ len(w_nocall.call)
print("The proportion of whites who got an interview call:", round(p_w_call,2))
print("The proportion of whites who didnot get an interview call:", round(p_w_nocall,2))
print("The number of white:",n_w)

p_call = (n_b*p_b_call + n_w*p_w_call)/(n_b + n_w)
print("The pooled proportion of interview call:", round(p_call,2))

NameError: name 'b_call' is not defined

What are the null and alternate hypotheses?