In [1]:
import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [2]:
import pandas as pd

In [5]:
enron_df = pd.DataFrame(enron_data).transpose()

In [8]:
enron_df = enron_df.reset_index()

In [28]:
enron_df.describe()

,index,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,146,146,146,146,146,146,146,146,146,146,...,146,146,146,146,146,146,146,146,146,146
unique,146,42,40,45,18,112,102,95,65,58,...,53,93,2,98,19,95,84,87,126,125
top,PRENTICE JAMES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,64,107,97,129,35,44,51,60,60,...,80,53,128,36,128,51,60,60,21,20

In [9]:
poi = enron_df[enron_df['poi'] == True]

In [24]:
enron_df['total_payments'][enron_df['index'].str.startswith('SKILLING')]

122    8682716
Name: total_payments, dtype: object

In [26]:
enron_df['total_payments'][enron_df['index'].str.startswith('LAY KENNETH')]

79    103559793
Name: total_payments, dtype: object

In [25]:
enron_df['total_payments'][enron_df['index'].str.startswith('FASTOW')]

43    2424083
Name: total_payments, dtype: object

In [31]:
poi['total_payments'].value_counts()

5501630      1
1587421      1
1639297      1
2652612      1
1099100      1
1490344      1
288682       1
4747979      1
360300       1
2003885      1
103559793    1
2424083      1
91093        1
1868758      1
8682716      1
505050       1
1272284      1
2669589      1
Name: total_payments, dtype: int64